title = "Page not found (404)"
url = "/404"
layout = "default-layout"
description = "Oops!"
is_hidden = 0
==
<section class="banner page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="text-center">404-Error: <br /><small>Página no encontrada</small></h2>
        </div>
      </div>
    </div><!-- /.container -->
</section><!-- /.banner -->