title = "Actividades"
url = "/actividades"
layout = "default-layout"
is_hidden = 0
==
<?php 
use Lareja\Web\Models\Activity;
function onStart(){
	$next_activities 	= Activity::where('date', '>', date('Y-m-d H:i:s'))->orderBy('date', 'asc')->get();
	$old_activities 	= Activity::where('date', '<', date('Y-m-d H:i:s'))->orderBy('date', 'desc')->limit(8)->get();
	/*echo '<pre>'; var_dump($activities); echo '</pre>';*/
	/*exit;*/
	for($i = 0; $i < count($next_activities); $i++){
		if (!is_null($next_activities[$i]->picture)){
			$next_activities[$i]['image_path'] = $next_activities[$i]->picture->getPath();
		}
	}
	for($i = 0; $i < count($old_activities); $i++){
		if (!is_null($old_activities[$i]->picture)){
			$old_activities[$i]['image_path'] = $old_activities[$i]->picture->getPath();
		}
	}
	$this['next_activities'] = $next_activities;
	$this['old_activities'] = $old_activities;
    $this->addJs('assets/js/jquery.js');
    $this->addJs('assets/js/activities.js');
}

?>
==
<div class="actividades page">
	<div class="col-lg-12">
		<h1>Actividades</h1>
	</div>
	<section class="actividades actividades-modal-container">
	  <div class="container">
		  <!--principal-->
		  <div class="next_activities">  
			<div class="activities_subtitles">
				<p><i class="fa fa-calendar"></i> Próximas actividades</p>
			</div>			  
			  {% for activity in next_activities %}
			<article class="activity">			  
			  <div class="img-container" style="background-image: url({{ activity.image_path }});">
			  </div>
			  <i class="date">{{ activity.date | date('d/m/Y') }}</i>
				{% if activity.link != "" %}
				  <i class="link"><a target="_blank" href="{{ activity.link }}"> Link</a></i>
				{% endif %}
				<h3 class="title">{{ activity.name }}</h3>				
			  <p>{{ activity.description }}</p>
			  <input class="description" type="hidden" value="{{ activity.description }}">
			  <input class="img-url" type="hidden" value="{{ activity.image_path }}">
			</article>
			{% endfor %}
		  </div>
		  <!--listado-->
		  <div class="previous_activities">
			<div class="activities_subtitles">
				<p><i class="fa fa-calendar"></i> Actividades anteriores</p>
			</div>
			<!--item de listado-->
			{% partial "prev-activities" %} 
			<hr>
			<div class="custom_links">
				<ul>
					<li>						
						<a href="historial-actividades"><i class="fa fa-list"></i> Ver todas las actividades</a>
					</li>
				</ul>
			</div>
		  </div>
		  <div class="loader">
			<span class="start-hidden loading" >Loading</span>
		  </div>
		  <div class="activity-modal">
			  <div class="container">
				<div class="close-button">
					<i class="fa fa-close">&nbsp;</i>
				</div>
				<h3></h3>
				<div class="img-box">
					<img class="limit-width" src="">
				</div>
				<div class="content limit-width">
					<i class="date" style="font-size: 14px;"></i>
					{% if activity.link != "" %}
					<i class="link"><a target="_blank" href="{{ activity.link }}" style="font-size: 14px;"></a></i>
					{% endif  %}
					<p></p>
				</div>
			</div>
		  </div>
	  </div>
	</section>
</div>
<script src="/themes/simpleweb-startit/assets/js/jquery.js"></script>
<script src="/themes/simpleweb-startit/assets/js/activities.js"></script>
