title = "Actividades por período"
url = "/actividades-periodo/:year"
layout = "default-layout"
is_hidden = 0
==
<?php 
use Lareja\Web\Models\Activity;
function onStart(){
	$this['year'] =  $this->param('year'); $date_from 		= $this['year'] . '-01-01 00:00:00';
	$date_to 			= $this['year'] . '-12-31 23:59:59';
	$old_activities 	= Activity::where('date', '<', date('Y-m-d H:i:s'))
												->where('date', '>=', $date_from)
												->where('date', '<=', $date_to)
												->orderBy('date', 'desc')
												->get();
	for($i = 0; $i < count($old_activities); $i++){
		if (!is_null($old_activities[$i]->picture)){
			$old_activities[$i]['image_path'] = $old_activities[$i]->picture->getPath();
		}
	}
	$this['old_activities'] = $old_activities;
    $this->addJs('assets/js/jquery.js');
    $this->addJs('assets/js/activities.js');
}

?>
==
<section class="actividades-periodo page actividades-modal-container">
  <div class="container">
	<h1>Actividades del año {{ year }}</h1>
	<hr>
      <div class="previous_activities horizontal-flex">
		<!--item de listado-->
		{% partial "prev-activities" %} 		
      </div>
	  <div class="activity-modal">
	  	<div class="container">
			<div class="close-button">
				<i class="fa fa-close">&nbsp;</i>
			</div>
			<h3>Lore mipsium</h3>
			<div class="img-box">
				<img class="limit-width" src="">
			</div>
			<div class="content limit-width">
				<i class="date" style="font-size: 14px;">19/12/2018</i>
                {% if activity.link != "" %}
				<i class="link"><a target="_blank" href="{{ activity.link }}" style="font-size: 14px;"> Link</a></i>
                {% endif  %}
				<p>lorem ipsum dolor sit amet. lorem ipsum dolor sit amet. lorem ipsum dolor sit amet. lorem ipsum dolor sit amet.</p>
			</div>
		</div>
	  </div>
  </div>
</section>
