title = "Contacto"
url = "/contacto"
layout = "default-layout"
description = "This is the template for a contact page."
is_hidden = 0
==
<?php
function onStart()
{
    $email_recipient    = [
        'info@parquelareja.org'     => 'Info la reja'
    ];
	$input_data 	    = Input::All();

	if (!empty($input_data)){
           
        // Collect input
        $contact_name       = post('contactname');
        $contact_email      = post('contactemail');
        $contact_subject    = post('contactsubject');
        $contact_message    = post('contactmessage');

        // Form Validation
        $validator = Validator::make(
            [
                'contactname'       => $contact_name,
                'contactemail'      => $contact_email,
                'contactsubject'    => $contact_subject,
                'contactmessage'    => $contact_message
            ],
            [
                'contactname' => 'required',
                'contactemail' => 'required|email',
                'contactsubject' => 'required',
                'contactmessage' => 'required'
            ]
        );

        if ($validator->fails())
        {
            $messages = $validator->messages();
            throw new ApplicationException($messages->first());
        }

        // All is well -- Submit form
        $vars = compact('contact_name', 'contact_email','contact_subject','contact_message');

        Mail::send('lareja.web::mail.contact', $vars, function($message) use ($email_recipient){

            $to = $email_recipient;
            $message->to($to,'Fernando Contreras');
            $message->subject('Nueva consulta');

        });

        Session::put('mail_sent',true);
        Session::save();
        header('location: /contacto');
        exit;
    }
    else{
        $mail_sent = Session::get('mail_sent');
        if (!is_null($mail_sent) && $mail_sent){
            Session::forget('mail_sent');
            $this['sent'] = true;
        }
    }
}
?>
==
<section class="parque page">
    <div class="container">
        <div class="col-lg-12">
                <h1>Contacto</h1>
                <hr>
        </div>        
        <section id="contact-form">
            <div class="container">
                <div class="row">
                    {% if sent %} 
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <p class="form-success">
                            Su consulta ha sido enviada. <br>Para enviar otra consulta haga click <a href="/contacto">aquí</a>
                        </p>
                    </div>  
                                     
                    {% else %}
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">DEJANOS TU MENSAJE</h3>
                            </div>
    
                            <div class="panel-body">
                                <form id="contactForm" class="contact helper-margin-top-25" role="form" action="" method="post">
                                    <div class="form-group ">
                                        <input type="text" class="form-control" name="contactname" placeholder="Nombre">
                                    </div>
                                    <div class="form-group ">
                                        <input type="text" class="form-control" name="contactsubject" placeholder="Asunto">
                                    </div>
                                    <div class="form-group ">
                                        <input type="email" class="form-control" name="contactemail" placeholder="Email">
                                    </div>
                                    <div class="form-group ">
                                        <textarea class="form-control" rows="5" name="contactmessage" placeholder="Mensaje"
                                            style="resize:none; overflow: auto;"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="button-gray">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
    
                    </div>
                    {% endif %}
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">INFORMACIÓN SOBRE EL PARQUE</h3>
                            </div>
                            <div class="panel-body">
                                <p>Alfonsina Storni 1568<br>La Reja, Partido de Moreno<br>Buenos Aires, Argentina</p>
                                <p>
                                    <i class="fa fa-envelope-o"></i>
                                    <abbr title="Email"><a href="mailto:info@parquelareja.org">info@parquelareja.org</a>
                                </p>
                                <p>
                                    <i class="fa fa-clock-o"></i>
                                    <abbr title="Hours">H</abbr>: Consultar horarios en <a href="/uso-de-instalaciones">"Uso de las instalaciones"</a>.
                                </p>
                            </div>
                            <div class="custom_links">
                                    <ul>
                                        <li><a href="/uso-de-instalaciones"><i class="fa fa-home"></i> Uso de las instalaciones</a></li>
                                    </ul>
                            </div>
                            <div class="custom_links">
                                    <ul>
                                        <li><a href="/como-llegar"><i class="fa fa-car"></i> Cómo llegar</a></li>
                                    </ul>
                            </div>
                        </div>
                        <!--div>
                            <p><strong>Dirección: </strong>Alfonsina Storni 1568<br>La Reja, Partido de Moreno<br>Buenos Aires, Argentina</p>
                            <br>
                            <p>
                                <i class="fa fa-car"></i>
                                <a href="/como-llegar">Cómo llegar</a>
                            </p>
                            <br>
                            <p>
                                <i class="fa fa-envelope-o"></i>
                                <abbr title="Email"><a href="mailto:info@parquelareja.org">info@parquelareja.org</a>
                            </p>
                            <br>
                            <p>
                                <i class="fa fa-clock-o"></i>
                                <abbr title="Hours">H</abbr>: Consultar horarios en <a href="/uso-de-instalaciones">"Uso de las instalaciones"</a>.
                            </p>
                        </div-->
                    </div>
                </div>
    
            </div>
        </section>
    </div>

</section>