title = "El Parque"
url = "/el-parque"
layout = "default-layout"
description = "Los Parques son espacios que están destinados a reuniones, retiros y seminarios de estudio y reflexión."
is_hidden = 0
==
<section class="parque page">
    <div class="container">
        <div class="">
            <div class="content">
                <h1>Lugares del Parque</h1>
                <hr>
                <div class="col-lg-12">
                    <div class="custom_links">
                        <ul>
                            <li><a href="/uso-de-instalaciones">Uso de las instalaciones</a></li>
                            <li><a href="/como-llegar">Cómo llegar</a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="{{'imagenes-plr/lugares-portal.jpg'|media }}">
                        </div>
                        <div class="col-lg-9">
                            <h2>El Portal</h2> Marca el límite entre la externalidad del mundo y la interioridad del ser
                            humano, buscando producir un cambio en el estado interno de todo aquel que entra a este lugar.
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="{{'imagenes-plr/lugares-sala.jpg'|media }}">
                        </div>
                        <div class="col-lg-9">
                            <h2>La Sala</h2> Su interior simboliza el acceso a la experiencia interna profunda a través de
                            un espacio semiesférico vacío de íconos, símbolos o imágenes. Exteriormente, los muros hacen
                            de enmarque de una esfera, que en su cúspide indica la dirección hacia lo alto.
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="{{'imagenes-plr/lugares-monolito.jpg'|media }}">
                        </div>
                        <div class="col-lg-9">
                            <h2>El Monolito</h2> Construido completamente en acero inoxidable para reflejar la época actual,
                            fija la coordenada del tiempo en que se fundó este lugar y permite la alineación del espacio.
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="{{'imagenes-plr/lugares-estela.jpg'|media }}">
                        </div>
                        <div class="col-lg-9">
                            <h2>La Estela o Muro de Reconocimiento</h2> En ella están grabados los nombres de todos quienes
                            contribuyeron a la construcción del Parque, del mismo modo en que las antiguas estelas mesopotámicas,
                            egipcias, sumerias o mayas, esculpidas en piedra, dejaban testimonios de los acontecimientos
                            o hechos significativos que sucedieron al momento de ser construidas.
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="{{'imagenes-plr/lugares-fuente.jpg'|media }}">
                        </div>
                        <div class="col-lg-9">
                            <h2>La Fuente de Agua</h2> Representa alegóricamente la energía por la fusión de los principios
                            femenino y masculino.
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="{{'imagenes-plr/lugares-cde.jpg'|media }}">
                        </div>
                        <div class="col-lg-9">
                            <h2>Centro de Estudio</h2> Es un lugar de retiro y de estudio. En este ámbito los Maestros de
                            la Escuela investigan, reflexionan y producen contribuciones útiles para la superación del sufrimiento
                            y para el conocimiento y comprensión de distintos aspectos referidos a la existencia humana.
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="{{'imagenes-plr/lugares-cdt.jpg'|media }}">
                        </div>
                        <div class="col-lg-9">
                            <h2>Centro de Trabajo</h2> Es el lugar donde se realizan retiros y jornadas de trabajo personal.
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="{{'imagenes-plr/lugares-taller.jpg'|media }}">
                        </div>
                        <div class="col-lg-9">
                            <h2>Taller</h2> Es el lugar donde se desarrolla el Oficio del Fuego.
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="{{'imagenes-plr/lugares-multiuso.jpg'|media }}">
                        </div>
                        <div class="col-lg-9">
                            <h2>Salón Multiuso</h2> Es un ámbito para reuniones, seminarios, talleres y encuentros de intercambio.
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.banner -->
