title = "Error page (500)"
url = "/error"
layout = "default-layout"
is_hidden = 0
==
<section class="banner page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="text-center">Error:</h2>
        </div>
      </div>
    </div><!-- /.container -->
</section><!-- /.banner -->

<div class="container">
        <h1>Error</h1>
        <p>Lo sentimos, pero algo salió mal y la página no se puede mostrar.</p>
</div>