title = "Estacional de Invierno"
url = "/estacional-invierno-2020"
layout = "default-layout"
is_hidden = 0
==
<section class="parque page">
    <!--Event Image-->
    <div class="event-image">
        <img src="{{'/actividades/estacional_generic2.jpg'|media }}">
    </div>
    <!--End Event Image-->
    <div class="event">

        <!--Event Title Block-->
        <h1 class="event-title">Estacional Virtual de Invierno</h1>
        <h2 class="event-date">Sábado 20 y Domingo 21 de Junio</h2>
        <p class="event-description">Las Estacionales son celebraciones en las que nos encontramos para compartir un
            ámbito profundo. Hacemos ceremonias, intercambios, talleres, presentaciones y muchas actividades más.
            También aprovechamos para reencontrarnos con amigos.</p>
        <p class="event-description">En esta oportunidad, dada la situación que todos conocemos, nos encontraremos
            <strong>virtualmente.</strong> ¡Bienvenidos!</p>
        <div class="event-info">
            <p>Si querés agregar una nueva actividad comunicate con <strong>fercon@gmail.com</strong></p>
            <p>Solicitá los datos de acceso a cada sala a la persona que figura en cada evento.</p>
        </div>
        <!--End Event Title Block-->

        <br>
        <!--Event Schedule-->
        <h2 class="event-subtitle">Sábado 20</h2>
        <div class="event-schedule">

            <!--Event Schedule Titles-->
            <div class="event-activity">
                <div class="event-activity-time">
                    <span class="event-th">Hora</span>
                </div>
                <div class="event-activity-data">
                    <div class="event-activity-title">
                        <span class="event-th">Evento</span>
                    </div>
                    <div class="event-activity-owner">
                        <span class="event-th">Invita</span>
                    </div>
                    <div class="event-activity-link">
                        <span class="event-th">Plataforma/Acceso</span>
                    </div>
                    <div class="event-activity-info">
                        <span class="event-th">Solicitar acceso a:</span>
                    </div>
                </div>
            </div>
            <!---->
            <!--Event Schedule Activity-->
            <div class="event-activity">
                <div class="event-activity-time">
                    <span class="mobile-th">15:29</span>
                </div>
                <div class="event-activity-data">
                    <div class="event-activity-title">
                        <span class="event-mobile-th">"Para conectar con lo sagrado que está en nosotros"</span><br>
                        <span>Ceremonia de Bienestar</span>
                    </div>
                    <div class="event-activity-owner">
                        <span class="event-mobile-title">Invita: </span>
                        <span>Comunidad amigos mensajeros rioplatenses</span>
                    </div>
                    <div class="event-activity-link">
                        <span class="event-mobile-title">Plataforma: </span>
                        <span style="color: orangered">Esta actividad ha finalizado</span>
                    </div>
                    <div class="event-activity-info">
                        <span class="event-mobile-title">Contacto: </span>
                        <span>Wilmer González <br> 094785462</span><br>
                        <span>Gabo Drab <br> 1166879834</span><br>
                    </div>
                </div>
            </div>

            <!--Event Schedule Activity-->
            <div class="event-activity">
                <div class="event-activity-time">
                    <span class="mobile-th">17:00</span>
                </div>
                <div class="event-activity-data">
                    <div class="event-activity-title">
                        <span class="event-mobile-th">Taller "Las Virtudes"</span>
                    </div>
                    <div class="event-activity-owner">
                        <span class="event-mobile-title">Invita: </span>
                        <span>Comunidad de Villa Crespo</span>
                    </div>
                    <div class="event-activity-link">
                        <span class="event-mobile-title">Plataforma: </span>
                        <span style="color: orangered">Esta actividad ha finalizado</span>
                    </div>
                    <div class="event-activity-info">
                        <span class="event-mobile-title">Contacto: </span>
                        <span>Angel <br>+54 9 11 6686-0997</span><br><br>
                    </div>
                </div>
            </div>

            <!--Event Schedule Activity-->
            <div class="event-activity">
                <div class="event-activity-time">
                    <span class="mobile-th">17:00</span>
                </div>
                <div class="event-activity-data">
                    <div class="event-activity-title">
                        <span class="event-mobile-th">Intercambio sobre "7 dias con el Pedido"</span>
                    </div>
                    <div class="event-activity-owner">
                        <span class="event-mobile-title">Invita: </span>
                        <span>Comunidad Poesia y Espiritualidad</span>
                    </div>
                    <div class="event-activity-link">
                        <span class="event-mobile-title">Plataforma: </span>
                        <span style="color: orangered">Esta actividad ha finalizado</span>
                    </div>
                    <div class="event-activity-info">
                        <span class="event-mobile-title">Contacto: </span>
                        <span>Fernando C <br>+54 9 11 6231.6300</span>
                    </div>
                </div>
            </div>

            <!--Event Schedule Activity-->
            <div class="event-activity">
                <div class="event-activity-time">
                    <span class="mobile-th">17:00</span>
                </div>
                <div class="event-activity-data">
                    <div class="event-activity-title">
                        <span class="event-mobile-th">Intercambio sobre la Inspiración</span>
                    </div>
                    <div class="event-activity-owner">
                        <span class="event-mobile-title">Invita: </span>
                        <span>Lisandro G y Fernando C</span>
                    </div>
                    <div class="event-activity-link">
                        <span class="event-mobile-title">Plataforma: </span>
                        <span style="color: orangered">Esta actividad ha finalizado</span>
                    </div>
                    <div class="event-activity-info">
                        <span class="event-mobile-title">Contacto: </span>
                        <span>Lisandro G <br>+54 9 11 6055-2471</span>
                    </div>
                </div>
            </div>

        </div>
        <!--End Event Schedule-->

        <br>
        <!--Event Schedule-->
        <h2 class="event-subtitle">Domingo 21</h2>
        <div class="event-schedule">

            <!--Event Schedule Titles-->
            <div class="event-activity">
                <div class="event-activity-time">
                    <span class="event-th">Hora</span>
                </div>
                <div class="event-activity-data">
                    <div class="event-activity-title">
                        <span class="event-th">Evento</span>
                    </div>
                    <div class="event-activity-owner">
                        <span class="event-th">Invita</span>
                    </div>
                    <div class="event-activity-link">
                        <span class="event-th">Plataforma/Acceso</span>
                    </div>
                    <div class="event-activity-info">
                        <span class="event-th">Solicitar acceso a:</span>
                    </div>
                </div>
            </div>
            <!---->

            <!--Event Schedule Activity-->
            <div class="event-activity">
                <div class="event-activity-time">
                    <span class="mobile-th">18:00</span>
                </div>
                <div class="event-activity-data">
                    <div class="event-activity-title">
                        <span class="event-mobile-th">Poesia en la Fuente del Parque</span>
                    </div>
                    <div class="event-activity-owner">
                        <span class="event-mobile-title">Invita: </span>
                        <span>Corriente Poetica Inspirada en el Mensaje de Silo</span>
                    </div>
                    <div class="event-activity-link">
                        <span class="event-mobile-title">Plataforma: </span>
                        <span style="color: orangered">Esta actividad ha finalizado</span>
                    </div>
                    <div class="event-activity-info">
                        <span class="event-mobile-title">Contacto: </span>
                        <span>Fernando C <br>+54 9 11 6231.6300</span>
                    </div>
                </div>
            </div>
            <!--Event Schedule Activity-->
            <div class="event-activity">
                <div class="event-activity-time">
                    <span class="mobile-th">19:00</span>
                </div>
                <div class="event-activity-data">
                    <div class="event-activity-title">
                        <span class="event-mobile-th">Oficio de Cierre</span>
                    </div>
                    <div class="event-activity-owner">
                        <span class="event-mobile-title">Invita: </span>
                        <span>Todos</span>
                    </div>
                    <div class="event-activity-link">
                        <span class="event-mobile-title">Plataforma: </span>
                        <span style="color: orangered">Esta actividad ha finalizado</span>
                    </div>
                    <div class="event-activity-info">
                        <span class="event-mobile-title">Contacto: </span>
                        <span><br></span>
                    </div>
                </div>
            </div>
        </div>
        <!--End Event Schedule-->

    </div>
</section>