title = "Historial Actividades"
url = "/historial-actividades"
layout = "default-layout"
is_hidden = 0
==
<?php 
use Lareja\Web\Models\Activity;
function onStart(){
	$first_year = 2005;
	$this['all_activities'] = Array();
	for ($year = date('Y'); $year >= $first_year; $year--){
		$date_from 	= $year . '-00-00 00:00:00';
		$date_to 		= $year . '-12-31 23:59:59';
		$year_activities 	= Activity::where('date', '<', date('Y-m-d H:i:s'))
													->where('date', '>=', $date_from)
													->where('date', '<=', $date_to)
													->orderBy('date')
													->limit(5)
													->get();
		for($i = 0; $i < count($year_activities); $i++){
			if (!is_null($year_activities[$i]->picture)){
				$year_activities[$i]['image_path'] = $year_activities[$i]->picture->getPath();
			}
		}
		$all_activities[$year] = $year_activities;
	}
	$this['all_activities'] = $all_activities;
    $this->addJs('assets/js/jquery.js');
    $this->addJs('assets/js/activities.js');
}

?>
==
<section class="historial-actividades page">
  <div class="container">
		{% for year, activities in all_activities %}
			{% if activities is not empty %}
				<a href="actividades-periodo/{{ year }}">
                    <div class="year">
                        <h2>{{ year }}</h2>
                        <div class="cards">
                        {% for activity in activities %}
                            <div class="card-box">
                                <div class="activity card">
                                    <div class="img-container" style="margin: auto; height:120px; background-image: url({{ activity.image_path }}); background-size: cover; background-position: center;">
                                    </div>
                                    <i class="date" style="font-size: 14px;">{{ activity.date | date('d/m/Y') }}</i>
                                    <h4 class="title">{{ activity.name }}</h4>
                                    {% if activity.link != "" %}
                                        <a target="_blank" href="{{ activity.link }}" style="font-size: 14px;"> Link</a>
                                    {% endif %}
                                    <input type="hidden" class="description" value="{{ activity.description }}">
                                    <input class="img-url" type="hidden" value="{{ activity.image_path }}">
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </a>
			{% endif %}
		{% endfor %}

  </div>
</section>
