title = "Home"
url = "/"
layout = "default-layout"
description = "Welcome to the startit theme for OctoberCMS!"
is_hidden = 0
==
<?php
use Lareja\Web\Models\Activity;
function onStart(){
    /*Mail::rawTo('gonzalezrojosantiago@gmail.com','Hello friend');*/
	$next_activities 	= Activity::where('date', '>', date('Y-m-d H:i:s'))->orderBy('date', 'asc')->limit(1)->get();
    if (!$next_activities->isEmpty()){
        if (!is_null($next_activities[0]->picture)){
            $next_activities[0]['image_path'] = $next_activities[0]->picture->getPath();
        }
        $this['next_activity'] = $next_activities[0];
    }
    $videos = [
        [
            "name" => "El mensaje de silo",
            "path" => "/storage/app/media/videos/elmensajedesilo.mp4"
        ],
        [
            "name" => "Día del testimonio",
            "path" => "/storage/app/media/videos/diadeltestimonio.mp4"
        ],
        [
            "name" => "Conciencia inspirada",
            "path" => "/storage/app/media/videos/concienciainspirada.mp4"
        ]
    ];
    $this['video'] = $videos[ rand(0,2) ];
    $this->addJs('assets/js/jquery.js');
    $this->addJs('assets/js/home.js');
}
?>
==
<section class="parque page">
                         <!--   



                        -->
        <div class="container">
            <div class="home-content">
                <div class="home-main">
                    <div class="home-description" style="background-color: #D7E3AB; color: black">
                        <h4 style="text-transform: uppercase;">Situación del Parque frente a la Pandemia</h4>
                        <span style="font-style: italic; font-size: 0.8em;">Actualizado: Lunes 14 de Diciembre.</span>
                        <p>En base a las medidas dispuestas desde las autoridades nacionales y provinciales ante la Pandemia del virus 2019-nCoV hemos tomado la decisión (luego de consultarlo con Pangea y los amigos profesionales de la salud) de realizar una prueba y abrir el Parque un día a la semana.</p>
                        <p>En esta etapa de prueba podrán visitar el parque <strong>20 personas</strong> los días <strong>sábados</strong> y <strong>domingos</strong> (inscriptas previamente a través del formulario).</p>
                        
                        <p>El uso de las instalaciones está limitado a los espacios verdes, la sala de meditación y los baños que están cerca de la fuente. No están habilitados los centros ni la multiuso.</p>
                        
                        <p>Recordamos a los asistentes la obligación del uso de barbijo y las medidas de distanciamiento conocidas por todos.</p>
                        <p>A aquellos que deseen visitar el parque les recomendamos la lectura del Protocolo que hemos preparado para la apertura gradual del parque.</p>
                        <br>
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <div style="margin-right: 6px; padding: 0 10px; border: 1px solid #999; border-radius: 5px;">
                                <h4 style="text-align: left">
                                    <i class="fa fa-download"></i>
                                    <a class="link" style="color: black" href="/storage/app/media/documentos/Protocolo-COVID-PLR.pdf">Descargar el protocolo</a>
                                </h4>
                            </div>
                            <div style="margin-left: 6px; padding: 0 10px; border: 1px solid #999; border-radius: 5px;">
                                <h4 style="text-align: left">
                                    <i class="fa fa-user"></i>
                                    <a class="link" style="color: black" href="https://parquelareja.org/visitantes">Formulario de Visitas</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="home-gallery">
                        <img class="picture" src="{{'imagenes-plr/lugares-portal.jpg'|media }}">
                        <img class="picture" src="{{'imagenes-plr/lugares-multiuso.jpg'|media }}">
                        <img class="picture" src="{{'imagenes-plr/lugares-sala.jpg'|media }}">
                        <img class="picture" src="{{'imagenes-plr/lugares-estela.jpg'|media }}">
                        <img class="picture" src="{{'imagenes-plr/lugares-fuente.jpg'|media }}">
                    </div>
                    <div>
                        <div class="home-quote">
                            <q>Si tu profundizas en ti y yo profundizo en mi, ahí nos encontraremos.</q>
                            <p>Silo</p>
                        </div>
                        <div class="home-description">
                            <p>Los Parques de Estudio y Reflexión son recodos donde reencontrarnos con lo mejor de la interioridad de cada uno. Este y otros parques alrededor del mundo son impulsados por miembros de El Mensaje de Silo y de los Organismos del Movimiento Humanista.</p>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="home-items">
                    <div class="home-item">
                        <a href="http://www.silo.net" target="_blank">
                            <img src="{{'imagenes-plr/silonet.png'|media }}" alt="Silo Net">
                            <div class="home-titles">
                                <h4>Videos, conferencias, imágenes y documentos en www.silo.net</h4>
                            </div>
                        </a>
                    </div>
                    <div class="home-item">
                        <div>

                            <video class="home-video" src="{{ video.path }}" width="100%" height="100%" controls></video>
                        </div>
                        <div class="home-titles">
                            <h4>{{video.name}}</h4>
                        </div>
                    </div>
                    <div class="home-item">
                        <a href="actividades">
                            <div class="home-activity-image" style="background-image: url({{ next_activity.image_path}})" alt="Silo Net "></div>
                        </a>
                        <div class="home-titles">
                            <h4> {{ next_activity.name }}</h4>
                            <p> {{ next_activity.description|length > 80 ? next_activity.description|slice(0, 80) ~ '...' : next_activity.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>