title = "Producciones"
url = "/producciones/:criteria/:direction/:tab"
layout = "default-layout"
is_hidden = 0
==
<?php
use Lareja\Web\Models\Material;

private $languages = [
	'es'=>'ES',
	'en'=>'EN',
	'de'=>'DE',
	'pt'=>'PO',
	'ru'=>'RU',
	'it'=>'IT',
	'fr'=>'FR',
];


function onStart(){
	
	$order_criteria 	= $this->param('criteria');
	$order_direction 	= $this->param('direction');
	$tab 	            = $this->param('tab','mon');
    if ($tab == 'default'){
        $tab = 'mon';
    }

	$monographies_selector = Material::join('lareja_web_person','lareja_web_material.person_id','=','lareja_web_person.id')
									->select('name','last_name','production')
									->where('type','=','m');

	/*
    $experience_accounts_selector = Material::join('lareja_web_person','lareja_web_material.person_id','=','lareja_web_person.id')
									->select('name','last_name','production')
									->where('type','=','r');
    */

	$other_contributions_selector = Material::join('lareja_web_person','lareja_web_material.person_id','=','lareja_web_person.id')
									->select('name','last_name','production')
									->where('type','=','o');

	$this['opposite_order'] = $order_direction == 'asc' ? 'asc' : 'desc';
	$monographies 				= $monographies_selector->orderBy('name', $order_direction)
												->orderBy('last_name', $order_direction)
												->get();
    /*
	$experience_accounts 		= $experience_accounts_selector->orderBy('name', $order_direction)
												->orderBy('last_name', $order_direction)
												->get();
    */

	$other_contributions 		= $other_contributions_selector->orderBy('name', $order_direction)
												->orderBy('last_name', $order_direction)
												->get();


    
    if ($order_criteria == 'titulo'){
        $c_monographies         = new October\Rain\Support\Collection($this->parseBatch($monographies));
        //$c_experience_accounts  = new October\Rain\Support\Collection($this->parseBatch($experience_accounts));
        $c_other_contributions  = new October\Rain\Support\Collection($this->parseBatch($other_contributions));
        if ($order_direction == 'asc'){
            $s_monographies         = $c_monographies->sortBy('name');
            //$s_experience_accounts  = $c_experience_accounts->sortBy('name');
            $s_other_contributions  = $c_other_contributions->sortBy('name');
        }
        else{
            $s_monographies         = $c_monographies->sortByDesc('name');
            //$s_experience_accounts  = $c_experience_accounts->sortByDesc('name');
            $s_other_contributions  = $c_other_contributions->sortByDesc('name');
        }
        $this['monographies']           = $s_monographies->values()->all();
        //$this['experience_accounts'] 	= $s_experience_accounts->values()->all();
        $this['other_contributions'] 	= $s_other_contributions->values()->all();
    }
    else{
        $this['monographies'] 			= $this->parseBatch($monographies);
        //$this['experience_accounts'] 	= $this->parseBatch($experience_accounts);
        $this['other_contributions'] 	= $this->parseBatch($other_contributions);
    }

    $this['selected_tab']   = $tab;
    $this['link_suffix']    = '';

}

function parseBatch($productions){
	$parsed_productions = [];
	for($i=0; $i<count($productions);$i++){
		foreach($productions[$i]['production'] as $production){
			$file_name_parts 					= explode('.',$production['file']);
			$parsed_productions[$i]['master'] 	= $productions[$i]['name'] . ' ' . $productions[$i]['last_name'];
			$parsed_productions[$i]['lang'] 	= $this->languages[ $production['lang'] ];
			$parsed_productions[$i]['name'] 	= $production['name'];
			$parsed_productions[$i]['format'] 	= $file_name_parts[ count($file_name_parts)-1 ];
			$parsed_productions[$i]['file'] 	= $production['file'];
		}
	} 
	return $parsed_productions;
}
?>
==
<section class="parque page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
					<h1>Producciones</h1>
					<hr>
                    <div class="custom_links">
						<ul>
							<li>
								<a target="_blank" href="/storage/app/media/oficio_del_fuego.pdf"><i class="fa fa-download"></i> Manual Oficio del Fuego</a>
							</li>
						</ul>
                    </div>

                    <ul class="nav nav-tabs" style="position:static;background-color:white;">
                        <li role="presentation" class="monographies{% if selected_tab == 'mon' %} active{% endif %}"><a>Producciones</a></li>
                        <!--<li role="presentation" class="accounts{% if selected_tab == 'exp' %} active{% endif %}"><a>Relatos de Experiencia</a></li>-->
                        <li role="presentation" class="contributions{% if selected_tab == 'oth' %} active{% endif %}"><a>Otros Aportes</a></li>
                    </ul>

                    

					<div class="type monographies"{% if selected_tab != 'mon' %} style="display:none"{% endif %}>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th scope="col"><a href="{{ link_suffix }}/producciones/titulo/{{ opposite_order }}/mon">Título</a></th>
									<th scope="col"><a href="{{ link_suffix }}/producciones/autor/{{ opposite_order }}/mon">Autor</a></th>
									<th scope="col"><i class="fa fa-language"></i></th>
									<th scope="col"><i class="fa fa-download"></i></th>
								</tr>
							</thead>
							<tbody>
								{% for monography in monographies %}
								<tr>
									<td> {{ monography.name }}</td>
									<td scope="row">{{ monography.master }}</td>
									<td>{{ monography.lang }}</td>
									<td>
										<a href="/storage/app/media{{ monography.file }}"><i class="fa fa-download"></i></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

                    <!--
					<div class="type accounts"{% if selected_tab != 'exp' %} style="display:none"{% endif %}>
						<h2>Relatos de Experiencia</h2>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th scope="col"><a href="/{{ link_suffix }}/producciones/autor/{{ opposite_order }}/exp">Maestro</a></th>
									<th scope="col"><a href="/{{ link_suffix }}/producciones/titulo/{{ opposite_order }}/exp">Título</a></th>
									<th scope="col">Idioma</th>
									<th scope="col">Formato</th>
									<th scope="col">Descargar</th>
								</tr>
							</thead>
							<tbody>
								{% for account in experience_accounts %}
								<tr>
									<th scope="row">{{ account.master }}</th>
									<td>{{ account.name }}</td>
									<td>{{ account.lang }}</td>
									<td>{{ account.format }}</td>
									<td>
										<a href="/storage/app/media{{ monography.file }}">descargar</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
                    -->

					<div class="type contributions"{% if selected_tab != 'oth' %} style="display:none"{% endif %}>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th scope="col"><a href="{{ link_suffix }}/producciones/titulo/{{ opposite_order }}/oth">Título</a></th>
									<th scope="col"><a href="{{ link_suffix }}/producciones/autor/{{ opposite_order }}/oth">Autor</a></th>
									<th scope="col"><i class="fa fa-language"></i></th>
									<th scope="col"><i class="fa fa-download"></i></th>
								</tr>
							</thead>
							<tbody>
								{% for contribution in other_contributions %}
								<tr>
									<td>{{ contribution.name }}</td>
									<td scope="row">{{ contribution.master }}</td>
									<td>{{ contribution.lang }}</td>
									<td>
										<a href="/storage/app/media{{ contribution.file }}"><i class="fa fa-download"></i></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function(){
	console.log('binding events');
	$('.nav-tabs li').click(function(){
		$('.nav-tabs li').removeClass('active');
		$(this).addClass('active');
	});
	$('.nav-tabs li.monographies').click(function(){
		console.log('clicked monographies');
		$('div.type').hide();
		$('div.type.monographies').show();
	});
	$('.nav-tabs li.accounts').click(function(){
		console.log('clicked accounts');
		$('div.type').hide();
		$('div.type.accounts').show();
	});
	$('.nav-tabs li.contributions').click(function(){
		console.log('clicked contributions');
		$('div.type').hide();
		$('div.type.contributions').show();
	});
});
</script>