title = "Uso de Instalaciones"
url = "/uso-de-instalaciones"
layout = "default-layout"
is_hidden = 0
==
<section class="parque page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div style="margin: 0 10px;">
                    <h1>Uso de las instalaciones</h1>
                    <hr>
                    <p>El uso de las instalaciones está destinado principalmente a reuniones, retiros y seminarios de
                        estudio y reflexión. </p>
                    <p>Este breve instructivo incluye la información necesaria para quienes hagan uso de las
                        instalaciones del Parque. Toda otra consulta puede hacerse mediante el formulario de contacto.</p>
                </div>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    <div class="col-lg-6">
                        <ul class="list-group">
                            <li class="list-group-item active">
                                <h4>Horarios: Primavera - Verano</h4>
                            </li>
                            <li class="list-group-item">
                                <p>Lunes a Jueves: de 10 a 13hs. y de 15 a 19hs.</p>
                            </li>
                            <li class="list-group-item">
                                <p>Viernes y Vísperas de feriados: de 10 a 13hs. y de 15 a 21hs.</p>
                            </li>
                            <li class="list-group-item">
                                <p>Sábados: de 10 a 21hs.</p>
                            </li>
                            <li class="list-group-item">
                                <p>Domingos: de 10 a 20hs.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-group">
                            <li class="list-group-item active">
                                <h4>Horarios: Otoño - Invierno</h4>
                            </li>
                            <li class="list-group-item">
                                <p>Lunes a Jueves: de 10 a 13hs. y de 15 a 18hs.</p>
                            </li>
                            <li class="list-group-item">
                                <p>Viernes y Vísperas de feriados: de 10 a 13hs. y de 15 a 20hs.</p>
                            </li>
                            <li class="list-group-item">
                                <p>Sábados:de 10 a 20hs.</p>
                            </li>
                            <li class="list-group-item">
                                <p>Domingos: de 10 a 19hs.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h4>Multiuso</h4>
                        <p>No es de uso exclusivo, no se reserva, pero sí se puede anunciar el uso en la web para que
                            se
                            coordinen las distintas actividades simultáneas que pudieran realizarse allí.</p>
                        <h4>Taller</h4>
                        <p>Es el ámbito destinado a la realización del Oficio del Fuego. </p>
                        <h4>Centro de Trabajo</h4>
                        <p>Es el ámbito donde miembros del Movimiento Humanista y de sus organismos y de El Mensaje de
                            Silo
                            realizan seminarios y retiros. La capacidad total de alojamiento es de 15 personas. Cuenta
                            también
                            con un salón/estar con capacidad para 250 personas sentadas o 100 distribuidas en mesas.
                        </p>
                        <h4>Centro de Estudio</h4>
                        <p>Es el ámbito de Escuela donde los Maestros realizan sus trabajos y estudios. La capacidad
                            total
                            de alojamiento es de 16 personas. Cuenta también con un salón central con capacidad para 60
                            personas;
                            una salita de reunión/escritorio y un desayunador.</p>
                        <h4>Estacionamiento</h4>
                        <p>El acceso al estacionamiento es por Alfonsina Storni 1568.</p>
                        <h4>Reservas del Centro de Trabajo, Centro de Estudios y Taller</h4>
                        <p>La reserva se hace vía web aquí completando los datos del formulario. Se tendrá en cuenta el
                            orden
                            de llegada de los pedidos de reserva. Se puede consultar la pestaña “Calendario de uso”
                            para
                            ver la disponibilidad de los Centros y del Taller.</p>
                        <h4>Horario de ingreso y egreso</h4>
                        <p>Cuando se reserva cualquiera de los Centros, el horario de ingreso a las habitaciones es a
                            las
                            18.30 hs. y el de salida a las 17.30 Hs. del día siguiente. </p>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <br>
                            <img src="{{'imagenes-plr/lugares-cde.jpg'|media }}">
                            <br><br><br>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4>Breves consideraciones de uso</h4>
                            </div>
                            <div class="panel-body">
                                <p><strong>Al llegar:</strong> La persona responsable recibe un juego de llaves,
                                    compuesto
                                    por las llaves del Centro de Trabajo o Estudio, la de una puerta de la Sala y la
                                    del
                                    estacionamiento.
                                </p>
                                <p><strong>Al final del día:</strong> Una persona del grupo tendría que verificar que
                                    estén
                                    cerradas con llave todas las puertas, incluida la de la Sala.</p>
                                <p><strong>Al retirarse:</strong> Verificar que no queden canillas abiertas, pérdidas
                                    de
                                    inodoro, luces encendidas, estufas eléctricas enchufadas. Además las llaves de gas
                                    de
                                    las estufas y llaves de paso de la cocina deben quedar cerradas. Depositar sábanas
                                    y
                                    toallas en los cestos disponibles en las habitaciones. No olvidarse de entregar el
                                    juego
                                    de llaves al casero o a los cuidadores.</p>
                                <p><em>Comisión Parques de Estudio y Reflexión, La Reja.</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>