.hosts-area .host-field{
	/*display: table-cell;*/
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}
.hosts-area.create .host{
	/*display: table-row;*/
}
/*
.hosts-area.create .host-name{ width: 42%; }
.hosts-area.create .host-date-in,.hosts-area .host-date-out{ width: 16%; }
.hosts-area.create .host-place{ width: 16%; }
.hosts-area.create .host-workshop{ width: 10%; }
.hosts-area.update .host-name{ width: 22%; }
.hosts-area.update .host-date-in,.hosts-area .host-date-out{ width: 22%; }
.hosts-area.update .host-place{ width: 22%; }
.hosts-area.update .host-workshop{ width: 22%; }
*/
.host-name label{
	font-size: 14px;
}
.block{
	display: inline-block;
}
.hosts-area .add-button{
	cursor: pointer;
	padding: 0px 10px 0px 10px;
}
.hosts-area .add-button img{
	width: 32px;
}
.hosts-area .title-bar{
	/*display: table-row;*/
}
.hosts-area .title-bar .block{
	/*display: table-cell;*/
	vertical-align: middle;
}
.hosts.table .header label{
	font-weight: bold;
}
.hosts-area.update .host-name{
	text-align: left;
}
.host.disabled label{
	color: #aaa;
}
.workshop.area{
    margin-bottom: 30px;
}

/*------------------- grilla alojados ------------------------*/

#alojados-header{
    display: grid;
    grid-template-columns: 20fr repeat(3, 1fr) 2fr; 
}

#alojados-header > div{
    text-align: right;
    transform: rotate(-45deg) translateX(50%);
}
#alojados-header > div:nth-child(1){ grid-column-start: 2; }

#alojados-grid{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr repeat(3, 1fr) 2fr; 
}

/*------------------- tablita precios reservas ------------------------*/

.reservation-details{
    margin-bottom: 10px;
}
.amount-details{
    box-shadow: 2px 2px 8px 3px #bbb;
    display: inline-block;
}
.amount-details th:nth-child(1){
    padding-left: 8px;
}
.amount-details tr:nth-child(1){
    background-color: #666;
    color: #fff;
}
.amount-details tr:nth-child(even){
    background-color: #ccc;
}
.amount-details td, .amount-details th{
    width: 100px;
    padding: 3px;
}
.amount-details td.big{
    width: 200px;
}
.amount-details .to_right{
    text-align: right;
}
.amount-details .to_center{
    text-align: center;
}
