body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
body > section{
    flex-grow: 1;
}
body,
html {
    width: 100%;
    height: 100%;
    line-height: 22px;
}
input[type=number]{
    height: 36px;
}

a {color:#333}
a,button{transition: all .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer; color: #333}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1{
    text-align: center;
}
.box-cols{
    display: flex;
}
.center-content{
    border: 1px solid green;
}
.vertical-flex{
    display: flex;
    flex-direction: column;
}

.horizontal-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content img{
    width: 100%;
}

#preloader {
    position: fixed;
    z-index: 9999999;
    top: 0; bottom: 0;
    right: 0; left: 0;

    background: #fff;
}

.inner {
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;

    width: 54px;
    height: 54px;
    margin: auto;
}

.page-loader{
 	display:block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fefefe;
	z-index: 100000;
}

#preloader span.loader {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-size: 10px;
  text-indent: -12345px;
  border-top: 5px solid rgba(0,0,0, 0.2);
  border-right: 5px solid rgba(0,0,0, 0.2);
  border-bottom: 5px solid rgba(0,0,0, 0.2);
  border-left: 5px solid rgba(0,0,0, 0.9);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

   -webkit-animation: spinner 350ms infinite linear;
   -moz-animation: spinner 350ms infinite linear;
   -ms-animation: spinner 350ms infinite linear;
   -o-animation: spinner 350ms infinite linear;
   animation: spinner 350ms infinite linear;

  z-index: 100001;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.topnav {
    font-size: 16px;
    font-weight: 400;
}
.topnav .navbar-nav>li>a {
    height: 65px;
    line-height: 35px;
}


a.navbar-brand {
  height: 65px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    margin-top: 50px;
    padding-top: 20px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background: url(../../assets/images/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.showcase {
    padding: 50px 0;
    background-color: #f8f8f8;
}
.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../../assets/images/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}
.page {
  margin-top: 70px;
}
@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}
#contact-form {
  margin: 40px 0;
}
footer {
    padding: 50px 0;
    background-color: #222;
    color:rgb(145, 151, 153);
    font-weight: 400;
    font-size: 14px;
}
ul.list-inline {
  font-size: 28px;
}
ul.list-inline a {
    color: #737A7D;
}
ul.list-inline a:hover {
    color: #fff;
}
p.copyright {
    margin: 0;
    font-size: 16px;
}
ul.list-social-icons {
  font-size: 20px;
}
ul.list-social-icons a i:hover {
  color: #333333;
}
.map {
  margin-bottom: -5px;
}
.helper-margin-bottom-20 {
  margin-bottom: 20px;
}
.helper-margin-top-20 {
  margin-top: 20px;
}
.helper-margin-bottom-50 {
  margin-bottom: 50px;
}
.helper-margin-top-50 {
  margin-top: 50px;
}


/* ---------------------- */
/* ----- Activities ----- */
/* ---------------------- */

section.actividades > .container{
    display: flex;
}
section.actividades .next_activities .activity{
    padding: 8px 20px 8px 20px;
    margin: 10px 20px 30px;
    box-shadow: 2px 2px 12px #ddd;
}
.activity.card{
    width: 320px;
	box-shadow: 2px 2px 12px #ddd;
    padding: 8px;
    margin-bottom: 14px;
}
section.actividades .activity:hover, .activity.card.hover-highlight:hover{
	box-shadow: 2px 2px 12px #aaa;
}
section.actividades .activity h3 { cursor: pointer; }
section.actividades .activity h4 { cursor: pointer; }
section.actividades .activity img { cursor: pointer; }
section.actividades .activity .img-container { cursor: pointer; }
section.actividades .next_activities .img-container { 
    margin: auto;
    background-size: cover;
    background-position: center;
}
section.actividades-modal-container .activity-modal{
	top: 0;
	left: 0;
	z-index: 2000;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
    color: #fff;
}
section.actividades-modal-container .activity-modal .container{
	background-color: #fff;
	padding: 20px;
	position: relative;
	width: 540px;
	max-height: 96%;
    max-width: 90%;
	overflow-y: auto;
    color: #333;
    border-radius: 3px;
}
/*pepe*/
section.actividades-modal-container .activity-modal .container .img-box{
	text-align: center;
	padding: 10px;
}
section.actividades-modal-container .activity-modal .container img{
	max-height: 300px;
	margin-bottom: 10px;
	box-shadow: 5px 5px 12px #ccc;
	max-width: 95%;
}
section.actividades-modal-container .activity-modal .container p{
	margin-top: 10px;
}
section.historial-actividades .year > h2{
    color: #333;
    margin: 0px 20px 0px 20px;
}
section.historial-actividades .cards{
    position: relative;
    height: 240px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
section.historial-actividades .card-box{
    position: absolute;
    height: 240px;
    display: flex;
    align-items: center;
}
section.historial-actividades .activity.card{
	box-shadow: 2px 2px 12px #aaa;
    background-color: #fff;
    position: static;
    color: #333;
}
section.actividades .previous_activities{ 
    display:flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 900px){
    section.actividades .next_activities{ 
        flex-grow: 1;
    }
    section.actividades .next_activities .img-container { 
        height:480px; 
    }
    section.actividades .previous_activities{
        padding: 0 20px;
    }
    section.historial-actividades .year{
        display:flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        padding: 20px;
    }
    section.historial-actividades .cards{
        width: 800px;
        margin-left: 50px;
    }
    section.historial-actividades .card-box:nth-child(1){ left: 0px; transform: rotateZ(3deg);}
    section.historial-actividades .card-box:nth-child(2){ left: 100px; transform: rotateZ(1deg);}
    section.historial-actividades .card-box:nth-child(3){ left: 200px; transform: rotateZ(-3deg);}
    section.historial-actividades .card-box:nth-child(4){ left: 300px; transform: rotateZ(-2deg);}
    section.historial-actividades .card-box:nth-child(5){ left: 400px; transform: rotateZ(2deg);}
}
@media (max-width: 900px){
    section.actividades .next_activities .img-container { 
        height:140px; 
    }
    section.actividades > .container{
        flex-direction: column;
    }
    section.historial-actividades .year{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        padding: 20px;
    }
    section.historial-actividades .card-box:nth-child(1){ left: -126px; transform: rotateZ(3deg);}
    section.historial-actividades .card-box:nth-child(2){ left: -123px; transform: rotateZ(1deg);}
    section.historial-actividades .card-box:nth-child(3){ left: -120px; transform: rotateZ(-3deg);}
    section.historial-actividades .card-box:nth-child(4){ left: -117px; transform: rotateZ(-2deg);}
    section.historial-actividades .card-box:nth-child(5){ left: -114px; transform: rotateZ(2deg);}
}
div.close-button{
	position: absolute; 
	width: 12px;
	top: 10px;
	right: 20px;
	cursor: pointer;
}
.start-hidden{
	display: none;
}


/**
/*
/* reservas 
/*
 */

@media (min-width: 600px){
    .parque.page.reservas form{
        width: 500px;
    }
}

@media (max-width: 600px){
    div#reservas .multiuso {
        width: auto;
    }
}

div#reservas{
	margin: 14px;
}

div#reservas .multiuso .date{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
div#reservas .multiuso .fields{
    display:none;
}
div#reservas .multiuso .date > div{
    /*border: 1px solid blue;*/
    padding: 4px;
}
div#reservas .multiuso .fields label{
    font-weight: normal;
}

div#reservas .contact-fields{
	display: flex;
    flex-direction: column;
}
div#reservas .contact-fields input, div#reservas .contact-fields select{
	margin-bottom: 5px;
    height: 38px;
}
div#reservas .contact-fields textarea{
	padding-left: 8px;
}

.responsible_box .name{
	font-size: 18px;
}
.responsible_box .contact_data{
	font-size: 14px;
	font-style: italic;
}
#reservas .quote{
	font-style: italic;
	line-height: 22px;
	text-align: left;
}
#reservas #mp_day{
    width: 160px;
    text-align: center;
}
#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.button-gray{
    background-color: #39454B;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    float: right;
    clear: both;
}
.button-gray:hover{
    background-color: rgb(101, 114, 121);
}
.button-red{
    background-color: white;
    color: rgb(204, 2, 2);
    font-weight: bold;
    border: 2px solid rgb(204, 2, 2);
    border-radius: 30px;
    margin-top: 10px;
    padding: 8px 18px 8px 18px;
}
.button-red:hover{
    color: white;
    background-color: rgb(204, 2, 2);
}
.button-green{
    background-color: rgb(17, 134, 2);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
}
.button-green:hover{
    background-color: rgb(85, 179, 73);
}
.reservation-process h1, 
.reservation-process h2, 
.reservation-process h3, 
.reservation-process h4, 
.reservation-process h5, 
.reservation-process h6, 
.reservation-process span,
.reservation-process label,
.reservation-process p
{
    color: #555;
}

/*** step 2 ***/

.parque.page.reservas-step-2 form{
    max-width: 800px;
}

#reservas-step-2{
	margin: 0px 20px 0px 20px;
}

#reservas-step-2 label{
	font-weight: normal;
}
#reservas-step-2 .area{
	border: 1px solid #bbb;
	margin-top: 10px;
	margin-bottom: 4px;
	padding: 10px;
    border-radius: 3px;
}
#reservas-step-2 .area > input{
    margin-right: 6px;
}
#reservas-step-2 .taller_cantidad{
	display: none;
}
#reservas-step-2 .centros .centros_input{
	display: none;
}
#reservas-step-2 .responsible_box{
    border-radius: 3px;
    margin-top: 20px;
    /*border: 1px solid green;*/
    overflow: hidden;
    border: 1px solid #777;
}
#reservas-step-2 .responsible_box h3, .reservas-confirm .place h3{
    color: #fff;
    padding: 5px;
    font-weight: normal;
    background-color: #777777;
    margin: 0px;
}
#reservas-step-2 .responsible_box .box_content{
    padding-left: 14px;
}
#reservas-step-2 input[type=submit]{
    margin: 10px;
}
#reservas-step-2 .button-container{
    display: flex;
}
#reservas-step-2 .round-button{
    border-radius: 30px;
}
#reservas-step-2 .host{
    padding-top: 10px;
    padding-bottom: 10px;
}
#reservas-step-2 .host:not(:first-child){
    border-top: 1px solid #999;
}
#reservas-step-2 .host input{
    margin: 2px;
}

/*** confirmation ***/
.reservas-confirm {
    margin-left: 20px;
    margin-right: 20px;
}

.reservas-confirm .places{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reservas-confirm .place{
    border: 1px solid #777;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
}
@media (max-width: 600px){
    .reservas-confirm .place{
        width: 280px;
    }
}
.reservas-confirm .place .content{
    padding: 10px;
}

/* calendario  de uso */

.calendario-de-uso .flex-row-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.calendario-de-uso .left-column{
    padding: 8px;
    width: 320px;
}
.calendario-de-uso h1{
    margin-bottom: 20px;
}
.calendario-de-uso .calendars{
    padding-left: 8px;
    padding-top: 8px;
    max-width: 652px;
}
.calendario-de-uso .calendars .month{
    padding: 8px;
    /*border: 2px dashed #dba;*/
    min-height: 290px; 
    margin-right: 16px;
    margin-bottom: 24px;
    border-radius: 5px;
	box-shadow: 1px 1px 6px #ddd;
}
.calendario-de-uso .calendars .month .name{
    padding: 2px;
    font-weight: bold;
    margin-left: 24px;
    color: #d74;
}
.calendario-de-uso .calendars .week:first-child .day{
    height: 24px;
    text-align: center;
    line-height: 24px;
    background-color: #eee;
    color: #225;
    cursor: default;
    border-radius: 3px;
}
.calendario-de-uso .calendars .week{
    padding-left: 2px;
    padding-top: 2px;
}
.calendario-de-uso .calendars .day{
    margin-right: 2px;
    margin-bottom: 2px;
    background-color: #f8e8d8; 
    width: 38px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: #522;
    border-radius: 3px;
}
.calendario-de-uso .calendars .day.occupied{
    background-color: #e8d8c8; 
    /*border: 1px double #b8a898;*/
    cursor: pointer;
}
/* modal en calendario de uso */
section.calendario-de-uso.page .details-modal{
	top: 0;
	left: 0;
	z-index: 2000;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
    color: #fff;
}
section.calendario-de-uso.page .details-modal .container{
	background-color: #fff;
	padding: 20px;
	position: relative;
	width: 540px;
	max-height: 96%;
    max-width: 90%;
	overflow-y: auto;
    color: #333;
    border-radius: 8px;
}
section.calendario-de-uso.page .details{
    display: none;
}
/* boton azul */
.menu_botones_azules{
    display: flex;
    justify-content: flex-end;
}
.menu_botones_azules li {
    display: inline;
    margin: 10px;
    border-radius: 5px;
    list-style-type: none;
}
.menu_botones_azules a{
    color: #0099ff;
}

.menu_botones_azules a:hover {
    text-decoration: underline;
}


.link_style, .link_style:hover{
    text-decoration: underline;
    font-style: italic;
    color: #0066ff;
}
.warning-text{
    background-color: #ff7;
    font-style: italic;
    padding: 2px;
    border-radius: 5px;
}
#workshop_oven_container{
    padding-left: 20px;
    display:none;
}
.navbar-fixed-top .navbar-collapse{
    max-height: 100vh;
}


/* --------------- home -------------- */

.home-item{
	margin-bottom: 20px;
	width: 100%;
}
.home-item img{
	width: 100%;
}
.home-gallery{
	overflow: hidden;
}
.home-gallery img{
	display: none;
	width:100%;
}
.home-gallery img:nth-child(1){
	display: block;
}
.home-activity-image{
	height: 240px;
	width: 100%;
	background-size: cover;
	background-position: center;
}

/*-----Clases Carlos-----*/
.nav-tabs a {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-tabs {
    margin: 0 0 20px 0;
}
.nav {
    padding-left: 10px;
}

hr {
    width: 50%;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #fff, #D6D6D6, #fff);
    background-image: -moz-linear-gradient(left,#fff, #D6D6D6, #fff);
    background-image: -ms-linear-gradient(left,#fff, #D6D6D6, #fff);
    background-image: -o-linear-gradient(left,#fff, #D6D6D6, #fff);
}
h1 {
    padding-top: 20px;
}
#footer{
    margin-top: 50px;
}

.custom_links {
    display: flex;
    flex-direction: row;
}
.custom_links ul {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }
.custom_links a {
    color: #fff;
}
.custom_links a:hover {
    text-decoration: underline;
}

.custom_links li {
    display: inline;
    background-color: #538cc6;
    padding: 5px 10px;  
    border-radius: 5px;
    text-align: center;
}
.custom_links li:hover {
    background-color: #79a6d2;
}
.custom_links li:active{
	box-shadow:1px 1px 1px #666;
}

.home-gallery-text {
    /*background-image: linear-gradient(#222, #222);  */
    padding: 30px;
    border-radius: 0 0 5px 5px;
    color: #fff;
    text-align: justify;
    font-weight: 100;
    line-height: 25px;
}
.home-quote {
    padding: 30px;
    font-size: 22px;
    font-style: italic;
    text-align: right;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.home-description {
    background-color: #538cc6;
    padding: 30px;
    text-align: justify;
    color: #fff;
    border-radius: 3px;
}
.home-titles {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    margin-top: -6px;
}
.navbar-toggle {
    margin: 20px 30px 20px 0;
}
.form-control {
    font-size: 18px;
}
.activities_subtitles {
    margin: 20px 0;
    font-size: 18px;
    align-content: left;
    text-align: center;
    width: 250px;
    background-color: #555;
    color: white;
    border: 1px solid #555;
    padding: 15px 10px 5px 10px;
    line-height: 10px;
    font-weight: bold;
}
i.date {
    font-size: 16px;
    background-color: orangered;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
}
.card-box .activity.card {
    width: 240px;
}
.previous_activities.horizontal-flex {
    justify-content: flex-start;
}
.previous_activities.horizontal-flex .activities .activity.card {
    width: 240px;
    margin: 0 10px;
}
.form-success {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    vertical-align: middle;
}
.form-success a {
    color: rgb(145, 255, 255);
    font-weight: bold;
}
.home-gallery img {
    border-radius: 3px;
}
.home-item img, video {
    border-radius: 3px;
}
.home-activity-image {
    border-radius: 3px;
}

#coronavirus {
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-top: 50px;
    position: fixed;
    background-color:rgba(0,0,0, 0.85);
    height: 100%;
    width: 100%;
    color: white;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.link {
    color: rgb(0, 111, 162); /*Lo puse un poco más oscuro (Carlos)*/
    font-weight: 600;
}
.link:hover {
    color: rgb(0, 78, 147);
    text-decoration: underline;
}




/*-----FIN Clases Carlos-----*/

/*------Media Queries-----*/
@media(max-width:900px) {
    .home-content{
        display:flex;
		flex-direction: column;
    }
    .home-main{
        padding: 20px 10px 20px 10px;
    }
    .home-items{
        padding: 10px 10px 20px 10px;
    }
}
@media(min-width:900px) {
    .home-content{
        display:flex;
    }
    .home-main{
        padding: 30px;
		width: 66.66666%;
    }
    .home-items{
        padding: 30px;
		width: 33.33333%;
    }
}

/*Fix margen panel en "como llegar mobile"*/
@media(max-width:900px) {
    .container {
        padding: 0;
        /*text-align: center;*/
    }
    .navbar-header {
        padding: 0 10px;
    }
    #bs-example-navbar-collapse-1 {
        padding: 0 30px;
    }
    .col-lg-12 {
        padding: 0;
        }
    .row {
        margin: 0;
    }
    #panel-como-llegar {
        margin: 0 20px;
    }
    .home-description {
        padding: 10px 20px;
        line-height: 25px;
        font-size: 16px;
    }
    .home-quote {
        font-size: 18px;
        padding: 20px 20px 0;
    }
    .horizontal-flex {
        flex-direction: column;
        align-content: center;
        
    }
    .activities_subtitles {
        margin: 20px 0;
        width: 100%;
    }
    .previous_activities.horizontal-flex .activities .activity.card {
        width: 320px;
    }
}

#android_chrome_advice{
	padding: 20px;
	top: 0;
	left: 0;
	z-index: 2000;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.8);
    color: #fff;
}
#android_chrome_advice .ok_button{
    background-color: #146ff7;
    border-radius: 8px;
    border: none;
    padding: 8px;
}

/*Clases para primera versión de eventos*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    
}
.gallery div {
    width: 20%;  
}
.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
table {
    max-width: 100%;
}


/*Event Classes*/
.event {
    max-width: 1170px;
    margin: auto;
}
.event-image {
    height: auto;
    max-height: 400px;
}
.event-image img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}
.event-title {
    margin: 20px 10px 20px;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
}
.event-subtitle {
    padding: 0 20px;
    margin: 20px 10px 20px;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    color: #666;
}
.event-date {
    color: #d9534f;
    padding-top: 0;
    margin: 20px 10px 20px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}
.event-description {
    padding: 0 20px;
    margin: 10px;
    text-align: justify;
    font-weight: 200;
    font-size: 18px;
}
.event-info {
    color: #31708f;
    background-color: #d9edf7;
    border: 2px solid #79c3e7;
    border-radius: 5px;
    margin: 25px 15px;
    padding: 15px;
    box-sizing: border-box;
}

.event-schedule {
    margin: 15px;
    border: 2px solid #bbb;
    border-radius: 5px;
}
.event-activity {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 20px 10px 20px;
}
.event-activity:nth-of-type(2n) {
    background-color: #e8e8e8;
}
.event-th {
    font-weight: 800;
}
.event-activity-time {
    color: #d9534f;
    font-weight: 500;
    padding: 5px 0;
}
.event-activity-data {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.event-activity-data > div:first-of-type {
    font-weight: 800;
}
.event-activity-data > div {
    padding: 5px 10px;
    width: 25%;
    max-width: 25%;    
    box-sizing: border-box;
    word-wrap: anywhere;    
}
.event-activity-application {
    color: #337ab7;
    font-weight: 500;
}
.event-mobile-title {
    display: none;
}
.event-activity-mobile-title {
    display: none;
}
.event a {
    color: #337ab7;
}

/*Visitantes*/
.visitors-date {
    height: 44px;
}

/*Event Classes Mobile*/
@media(max-width:900px) {  
    .event-image {
        height: auto;
        max-height: 200px;
    }  
    .event-image img {
        height: auto;
        max-height: 200px;
    }
    .event-activity-data {
        display: flex;
        flex-direction: column;
    }
    .event-activity-data > div {
        width: 100%;
        max-width: 100%;
    }
    .event-activity:first-of-type {
        display: none;
    }
    .mobile-th, .event-mobile-th {
        font-weight: 800;
    }
    .event-mobile-title {
        display: inline;
        color: #999;
    }
}