<div class="confirm">
    <p>
        Ha ingresado un nuevo pedido de reserva.<br>
        Haz Click en el siguiente enlace para administrarla<br>
        <a href="{{ domain }}/backend/lareja/web/reservations/update/{{ reservation_id }}">Administrar Reserva</a>
    </p>
</div>
