<h3>Nueva visita agendada</h3>
<div><b>Fecha:</b> {{ fecha }}</div>
<div><b>Nombre:</b> {{ nombre|capitalize }} {{ apellido|capitalize }}</div>
<div><b>Contacto:</b> Tel: <i>{{ telefono }}</i> Email: <i>{{ email }}</i></div>
<p>
    Haz Click <a href="{{ domain }}/backend/lareja/web/visitantes">Aqui</a>
    para acceder al listado de visitantes
</p>
