{% for activity in old_activities %}
<div class="activities">
    <div class="activity card hover-highlight">
        <div class="img-container" style="margin: auto; height:120px; background-image: url({{ activity.image_path }}); background-size: cover; background-position: center;">
        </div>
        <i class="date">{{ activity.date | date('d/m/Y') }}</i>
        <h4 class="title">{{ activity.name }}</h4>
        <input type="hidden" class="description" value="{{ activity.description }}">
        <input class="img-url" type="hidden" value="{{ activity.image_path }}">
     </div>
</div>
{% else %}
	<p>No se encuentran actividades para este año</p>
{% endfor %}
