;;
description = "Default layout"

[session]
security = "all"
==
{##}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Page title -->
        <title>{{ this.page.title }} | Parque de Estudio y Reflexión La Reja</title>

        <!-- Meta Tags -->
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">

        <!-- Icons for Browser etc. -->
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon_plr.png'|theme }}" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ [
          'assets/css/bootstrap.min.css',
          'assets/css/main.css',
          'assets/css/font-awesome.min.css'
        ]|theme }}">

        {% styles %}
    </head>
    <body>
        <!-- Partial 'tm-preloader.htm' -->
        {% partial "tm-preloader" %}

        <!-- Partial 'tm-header.htm' -->
        {% partial "tm-header" %}

        <!-- Page -->
        {% page %}

        <!-- Partial 'tm-footer.htm' -->
        {% partial "tm-footer" %}

        <!-- Partial 'tm-footer.htm' -->
        {% partial "tm-scripts" %}
    </body>
</html>
