<?php

$names = [
    'host_night' => 'Hospedaje por noche por persona',
    'oven_use' => 'Uso de horno de vidrio por reserva de taller',
    'workshop_use_day' => 'Uso de taller por día por persona',
    'linens' => 'Blanquería'
    ];

?>
<p>Actualizar un valor a la vez</p>
<div class="edit_prices">
<?php foreach ($prices as $price) { ?>
    <div class="price_row">
        <div class="denomination"><?php echo $names[$price->denomination]; ?></div>
        <div class="price"><input class="form-control" data-price-denomination="<?php echo $price->denomination; ?>" type="number" value="<?php echo $price->price; ?>"></div>
        <div class="button">
            <a href="/backend/lareja/web/reservations/edit_prices/<?php echo $price->denomination; ?>/<?php echo $price->price; ?>">
                <button class="btn btn-primary">Actualizar</button>
            </a>
        </div>
    </div>
<?php } ?>
</div>
<script>
    $(document).ready(function(){
        $href="/backend/lareja/web/reservations/edit_prices/";
        $('.price input').keyup(function(){
            console.log($(this).data('price-denomination'));
            $new_href = $href + $(this).data('price-denomination') + '/' + $(this).val();
            $(this).closest('.price_row').find('.button a').attr('href', $new_href);
            console.log('change: ', $new_href);
        });
    });
</script>
