<?php

function format_date($date){

    $months = [
        'Enero',
        'Febrero',
        'Marzo',
        'Abril',
        'Mayo',
        'Junio',
        'Julio',
        'Agosto',
        'Septiembre',
        'Octubre',
        'Noviembre',
        'Diciembre'
    ];

    $date_parts = array_reverse(explode('-',explode(' ',$date)[0]));
    $day    = $date_parts[0];
    $month  = $date_parts[1];
    $year    = $date_parts[2];
    if ($month == '00') $month = '01';
    return $day . ' de ' . $months[intval($month)-1] . ' de ' . $year;
}

function format_time($date){
    $time_a = explode(':',explode(' ',$date)[1]);
    return $time_a[0] . ':' . $time_a[1];
}

?>
<div class="mp_notifications">
    <div class="notif-container">
        <div class="notif header">
            <div class="field name">Responsable</div>
            <div class="field date">Fecha</div>
            <div class="field desc">Descripción</div>
            <div class="field button">Acciones</div>
        </div>
    </div>
    <div class="notif-container">
        <?php foreach ($notifications as $notif ){ ?>
        <div class="notif row">
            <div class="field name"><?php echo ucfirst($notif['name'] . ' ' . $notif['last_name']); ?></div>
            <div class="field date"><?php echo format_date($notif['date_from']) . ' De ' . format_time($notif['date_from']) . ' a ' . format_time($notif['date_to']); ?></div>
            <div class="field desc"><?php echo $notif['details'] . '<br>(' . $notif['people_number'] . ' personas)'; ?></div>
            <?php if ($notif['multipurpose_checked'] == 0) { ?>
            <div class="field button"><a href="/backend/lareja/web/reservations/mp_notifications/<?php echo $notif['id']; ?>/1"><button class="btn btn-warning">Aprobar</button></a></div>
            <?php } else { ?>
            <div class="field button"><a href="/backend/lareja/web/reservations/mp_notifications/<?php echo $notif['id']; ?>/0"><button class="btn btn-primary">Desaprobar</button></a></div>
            <?php } ?>
        </div>
        <?php } ?>
    </div>
</div>
