<?php
    /*echo '<pre>'; var_dump($oven_use); echo '</pre>'; exit ;*/
?>
<div class="layout-row">
    <div data-control="formwidget" data-refresh-handler="form::onRefresh" class="form-widget form-elements layout" role="form" id="Form">
        <div class="layout-row">
            <div id="Form-outsideTabs" class="form-tabless-fields">
                <div class="form-group  widget-field span-left">
                    <?php if (/*$is_keeper*/false) { ?>
                    <h4>Reserva para cuidadores</h4>
                    <?php } else { ?>
                    <label><b>Responsable</b></label>
                    <div>
                        <div>
                            <span><a target="_blank" href="/backend/lareja/web/people/update/<?php echo $responsible_id; ?>"><?php echo $responsible_name." ".$responsible_last_name; ?></a></span>
                        </div>
                        <div>
                            <span><?php echo $responsible_email; ?> (<?php echo $responsible_phone; ?>)</span>
                        </div>
                        <div>
                            <span>[<?php echo $responsible_category; ?><?php if (!is_null($responsible_category_2)) { ?> - <?php echo $responsible_category_2; ?><?php } ?><?php if (!is_null($responsible_category_3)) { ?><span> - <?php echo $responsible_category_3; ?><?php } ?>]</span>
                        </div>
                    </div>
                    <?php } ?>
                </div>
                <div class="form-group  text-field span-right">
                    <label><b>Estado</b></label>
                    <select name="data[reservation][state_id]" class="form-control custom-select">
                        <?php foreach ($states as $state) { ?>
                        <option <?php if ($state['id'] == $state_id) echo 'selected="selected" '; ?>value="<?php echo $state['id']?>"><?php echo $state['name']?></option>
                        <?php } ?>
                    </select>
                </div>
                <div class="form-group  text-field span-left">
                    <label><b>Fecha en que se hizo la reserva</b></label>
                    <div>
                        <span><?php echo $created_at; ?></span>
                    </div>
                </div>
                <?php if (/*!$is_keeper*/true) { ?>
                <div class="form-group  text-field span-right">
                    <label><b>Monto pagado</b></label>
                    <input type="text" name="data[reservation][paid_amount]" value="<?php echo $paid_amount; ?>" class="form-control">
                </div>
                <?php } ?>
                <div class="form-group  text-field span-left">
                    <label><b>Comentarios</b></label>
                    <p>
                        <?php echo $comments; ?>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<?php if (!empty($hosts)) { ?>
<div class="hosts-area update">
    <h3>Alojados</h3>
    <div class="hosts table" style="display:table">
        <div id='alojados-header'>
            <div>habilitado</div>
            <div>alojamiento</div>
            <div>blanquería</div>
        </div>
        <?php foreach($hosts as $host) { ?>
        <div id='alojados-grid' class="host <?php if ($host['enabled']) echo "enabled"; else echo "disabled" ?>">

            <div class="host-field host-name enabled">
                <label><?php echo $host['name'].' '.$host['last_name']; ?></label>
                <input type="hidden" value="<?php echo $host['person_id']; ?>">
            </div>
            <div class="host-field">
                <div class="field-datepicker" data-control="datepicker">
                    <div class="input-with-icon right-align">
                        <i class="icon icon-calendar-o"></i>
                        <input type="text" class="form-control align-right" autocomplete="off" data-datepicker />
                    </div>
                    <!-- Data locker -->
                    <input
                            class="host-date-in"
                            type="hidden"
                            name=""
                            value="<?php echo $host['from']; ?>"
                            data-datetime-value
                            />
                </div>
            </div>
            <div class="host-field host-date-out">
                <div class="field-datepicker" data-control="datepicker">
                    <div class="input-with-icon right-align">
                        <i class="icon icon-calendar-o"></i>
                        <input type="text" class="form-control align-right" autocomplete="off" data-datepicker/>
                    </div>
                    <!-- Data locker -->
                    <input
                            class="host-date-out"
                            type="hidden"
                            name=""
                            value="<?php echo $host['to']; ?>"
                            data-datetime-value
                            />
                </div>
            </div>
            <div class="host-field host-place">
                <select  class="form-control custom-select" width="25%">
                    <?php foreach($places as $place) { ?>
                    <option <?php if ($place['id'] == $host['place_id']) echo 'selected="selected" '; ?>value="<?php echo $place['id']?>"><?php echo $place['name']?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="host-field host-enabled" style="display:table-cell">
                <input class="check" type="checkbox" <?php if ($host['enabled']) echo "checked"; ?>>
            </div>
            <div class="host-field host-hosting" style="display:table-cell">
                <input class="check" type="checkbox" <?php if ($host['hosting']) echo "checked"; ?>>
            </div>
            <div class="host-field host-linens" style="display:table-cell">
                <input class="check" type="checkbox" <?php if ($host['linens']) echo "checked"; ?>>
            </div>
        </div>
        <?php } ?>
    </div>
</div>
<?php } ?>
<div class="reservation-details">
    <div class="amount-details">
        <table>
            <tr>
                <th>Reserva</th>
                <th class="to_center">Días</th>
                <th class="to_center">Hospedaje x noche</th>
                <th class="to_center">Blanquería x noche</th>
                <th class="to_center">Taller x día x persona</th>
                <th class="to_center">Taller x día</th>
                <th class="to_center">Precio total</th>
            </tr>
            <?php foreach( $hosts_prices as $price_row ) { ?>
                <tr>
                    <td class="big"><?php echo $price_row['name']; ?></td>
                    <td class="to_center"><?php echo $price_row['days']; ?></td>
                    <?php if ($price_row['night_price'] != 0) { ?>
                    <td class="to_right"><i>$</i><?php echo $price_row['night_price']; ?></td>
                    <?php } else { ?>
                    <td class="to_right">-</td>
                    <?php } ?>
                    <?php if ($price_row['linens_price'] != 0) { ?>
                    <td class="to_right"><i>$</i><?php echo $price_row['linens_price']; ?></td>
                    <?php } else { ?>
                    <td class="to_right">-</td>
                    <?php } ?>
                    <td class="to_right">-</td>
                    <td class="to_right">-</td>
                    <td class="to_right"><i>$</i><?php echo $price_row['total_price']; ?></td>
                </tr>
            <?php } ?>
            <?php foreach( $workshop_days as $price_row ) { ?>
                <tr>
                    <td class="big"><?php echo "taller (" . $price_row['people_number'] . " personas)"; ?></td>
                    <td class="to_center"><?php echo $price_row['days']; ?></td>
                    <td class="to_right">-</td>
                    <td class="to_right">-</td>
                    <td class="to_right"><i>$</i><?php echo $price_row['person_price']; ?></td>
                    <td class="to_right"><i>$</i><?php echo $price_row['price']; ?></td>
                    <td class="to_right"><i>$</i><?php echo $price_row['total_price']; ?></td>
                </tr>
            <?php } ?>
            <?php if( !empty($oven_use) ){ ?>
                <tr>
                    <td class="big"><?php echo "Horno de vidrio"; ?></td>
                    <td class="to_center">-</td>
                    <td class="to_right">-</td>
                    <td class="to_right">-</td>
                    <td class="to_right">-</td>
                    <td class="to_right">-</td>
                    <td class="to_right"><i>$</i><?php echo $oven_use[0]->total_price; ?></td>
                </tr>
            <?php } ?>
                <tr>
                    <td class="big"><b>Precio total</b></td>
                    <td class="to_center"></td>
                    <td class="to_center"></td>
                    <td class="to_center"></td>
                    <td class="to_center"></td>
                    <td class="to_center"></td>
                    <td class="to_right"><b><i>$</i><?php echo $total_price; ?></b></td>
                </tr>
        </table>
    </div>
    <?php if (!empty($workshop)) { ?>
    <div class="workshop area">
        <h3>Taller</h3>
        <div><strong>Fecha:</strong> <span><?php echo $workshop_dates; ?></span></div>
        <div><strong>Cantidad de personas:</strong> <span><?php echo $workshop['people_number']; ?></span></div>
        <div><strong>Uso de horno:</strong> <span><?php echo $workshop['oven'] ? 'Si' : 'No'; ?></span></div>
        <div><strong>Comentarios:</strong> <span><?php echo $workshop['details']; ?></span></div>
    </div>
    <?php } ?>
</div>
